@font-face {
	font-family: 'raleway';
	src: url('Raleway-Black.ttf');
}

@font-face {
	font-family: 'amble';
	src: url('Amble-Regular.ttf');
}

body .message {
	
}

body .photos {
	display: block;
    margin-left: auto;
    margin-right: auto
}

body .photos img {
	position: relative;
	width: 200px;
	max-height: 300px;
	padding: 10px;
	overflow: auto;
}

body .home {
	font-family: 'amble';
}

body .home p {
	font-size: large;
}

body .home img {
	width: 80px;
}

body .about {
	text-align: center;
}

.navbar-trans {
	background-color:#41609C;
    color:#fff;
    text-align: right;
}

.navbar-trans li>a:hover,.navbar-trans li>a:focus,.navbar-trans li.active {
	background-color:#558ACC;
}

.navbar-trans a{
    color:#fefefe;
}


footer {
	background-color: #000000;
	color: #E1FBFF;
	font-family: 'raleway';
	font-size: small;

}

footer #plus {
	font-size: 40%;
}