@font-face {
	font-family: 'raleway';
	src: url('Raleway-Black.ttf');
}

@font-face {
	font-family: 'amble';
	src: url('Amble-Regular.ttf');
}

body .message .letter {
	padding: 10px;
	border-color: #042045;
	border-width: 5px;
	border-style: solid;
	background-color: #C4DFFF;

}


body .message #textbox {
	width: 200px; 
	height: 100px;
	padding: 50px; 
}

body .photos {
	display: block;
    margin-left: auto;
    margin-right: auto
}

body .photos img {
	position: relative;
	width: 200px;
	max-height: 300px;
	padding: 10px;
	overflow: auto;
}

body .home {
	font-family: 'amble';
}

body .home p {
	font-size: large;
}

body .home img {
	width: 80px;
}

body .about {
	text-align: center;
}

body .about img {
	position: center;
	width:200px;
	padding: 20px;
}

.navbar-trans {
	background-color:#41609C;
    color:#fff;
    text-align: right;
}

.navbar-trans li>a:hover,.navbar-trans li>a:focus,.navbar-trans li.active {
	background-color:#558ACC;
}

.navbar-trans a{
    color:#fefefe;
}


@media screen and (min-width: 800px){
	body .photos img {
		position: relative;
		width: 400px;
		max-height: 600px;
		padding: 10px;
		overflow: auto;
	}
	body .message #textbox {
	width: 400px; 
	height: 100px;
	padding: 50px; 
	}
	body .about img {
	position: center;
	width:500px;
	padding: 20px;
	}
}

footer {
	background-color: #000000;
	color: #E1FBFF;
	font-family: 'raleway';
	font-size: small;

}

footer #plus {
	font-size: 40%;
}