{% extends "templates/base.html" %}

{% block content %}
	<div class = 'about'>
		<h1>All About Me</h1>
		<h2>Early Life</h2>
		<p>No one (not even me!) knows exactly how old I am. I spent most of my life so far as a stray. Eventually, some people found me and took me to the Humane Society of Huron Valley. They figured out that I was about 6 years old! They kept calling me Kramer, for some reason. Despite the weird name, they cleaned me up, made sure I wasn't being bothed by fleas or other pests, fed me lots of yummy food, and gave me a cozy place to live indoors. Although all the people at HSHV were very nice, I only lived there for about a week. On October 11th, 2015, my day started out very normally, but it ended completely differently than I thought it would.</p>
		<br>
		<h2>How We Adopted Hammy by Faith</h2>
		<p>I didn't really know the details about this part, so I asked Faith to write this part.</p>
		</p>
		<h2>My Life Now</h2>
		<p></p>
	</div>
{%endblock%}