<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<title>Hamilton: A Cat - {{title}}</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="static/styles.css"/>
</head>
<body>
	<header>
		<nav class="navbar navbar-trans navbar-top" role="navigation">
		  <div class="container">
		    <ul class="nav navbar-nav navbar-right">
		    	<li><a href = "home.html">Home</a></li>
		        <li><a href = "about.html">About Me</a></li>
		        <li><a href = "gallery.html">Image Gallery</a></li>
		    	<li><a href = "message.html">Send Hamilton a Message!</a></li> 
		        <li>&nbsp;</li>
		    </ul>
		  </div>
		</nav>

		<br>
		<br>
		<br>
	</header>

	{% block content %}
	I should never see this content.  It should be replaced.
	{% endblock %}

	<footer>
		<p>Copyright &copy; Faith Weis <span id="plus">(and Hamilton!)</span></p>
		<p>Thank you to everyone in SI 539.</p>
		<p>Hamilton's paw print is "footprint" by <a href = "https://thenounproject.com/mockturtle/">Sergey Demushkin</a> and <a href = "https://thenounproject.com">the Noun Project</a>.</p>
		<p>The font Raleway was made by Matt McInerney, Pablo Impallari, and Rodrigo Fuenzalida and was accessed on <a href = "http://www.fontsquirrel.com/license/raleway">Font Squirrel</a>.</p> 
		<p>The font Amble was designed by <a href = "http://www.punchcut.com/">Punchcut</a>, and was accessed on <a href = "http://www.fontsquirrel.com/license/amble">Font Squirrel</a>.</p>

	</footer>
	<!-- Jquery goes here -->
	<script   src="http://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>



</body>
</html>