{% extends "templates/base.html" %}

{% block content %}

<h1>Below, you'll find some pictures of me, and people I like.</h1>

<div class = 'photos'>
	<img src="static/galHamBall.jpg" alt="Hamilton curled into a ball">
	<img src="static/galHamBathroom.JPG" alt="Hamilton standing on the toilet">
	<img src="static/galHamBowtie.JPG" alt="Hamilton showing off his tie">
	<img src="static/galHamCarrier.JPG" alt="Hamilton the first day he came home, still in his carrier.">
	<img src="static/galHamCouch.JPG" alt="Faith and Hamilton on the couch">
	<img src="static/galHamKiss.jpg" alt="Hamilton kissing Liz">
	<img src="static/galHamLizCouch.jpg" alt="Hamilton hanging out on the couch with Liz">
	<img src="static/galHamMeg.jpg" alt="Hamilton being held by Auntie Meg">
	<img src="static/galHamPumpkin.JPG" alt="Faith, Hamilton, and a pumpkin">
	<img src="static/galHamTower.jpg" alt="Hamilton sitting in his tower">
	<img src="static/galHamYarn.jpg" alt="Hammy playing with yarn">
	<img src="static/galHamYawn.jpg" alt="A sleepy Hamilton">
</div>

{%endblock%}