{% extends "templates/base.html" %}

{% block content %}

	<img src="static/galHamBall.jpg" alt="Hamilton curled into a ball">
	<img src="static/galHamBathroom.jpg" alt="Hamilton standing on the toilet">
	<img src="static/galHamBowtie.jpg" alt="Hamilton showing off his tie">
	<img src="static/galHamCards.jpg" alt="Hamilton playing cards">
	<img src="static/galHamCarrier.jpg" alt="Hamilton the first day he came home, still in his carrier.">
	<img src="static/galHamCouch.jpg" alt="Faith and Hamilton on the couch">
	<img src="static/galHamFamily.jpg" alt="A little family: Liz, Faith, and Hamilton">
	<img src="static/galHamKiss.jpg" alt="Hamilton kissing Liz">
	<img src="static/galHamLizCouch.jpg" alt="Hamilton hanging out on the couch with Liz">
	<img src="static/galHamLizFloor.jpg" alt="Hamilton hanging out on the floor with Liz">
	<img src="static/galHamMeg.jpg" alt="Hamilton being held by Auntie Meg">
	<img src="static/galHamPumpkin.jpg" alt="Faith, Hamilton, and a pumpkin">
	<img src="static/galHamTower.jpg" alt="Hamilton sitting in his tower">
	<img src="static/galHamYarn.jpg" alt="Hammy playing with yarn">
	<img src="static/galHamYawn.jpg" alt="A sleepy Hamilton">
	<p></p>
{%endblock%}