{% extends "templates/base.html" %}

{% block content %}
	<div class='home'>
		<h1>Hello, and welcome to my website!</h1>
			<p>My name is Hamilton. I am a cat.<img src="static/pawprint.png" alt="Hamilton's paw print"></p>
			<p>I live in a small apartment with two wonderful humans.</p>
			<p>I hope that someday they will get another small cat so I can have a friend.</p>
			<br>
		<h2>There are a bunch of cool things you can do on this website.</h2>
			<p>Not only can you learn more <a href = "about.html">about me</a>, but you can also admire <a href = "gallery.html">pictures and videos</a> of me, or <a href = "map.html">see where the Humane Society of the Huron Valley is located!</a></p>

	</div>

	<p></p>
{%endblock%}