{% extends "templates/base.html" %}

{% block content %}

<div class="map">
	<h1>Check out a map of the Humane Society of the Huron Valey (where I was adopted)</h1>
	<div class="letter">
		<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
		<div style='overflow:hidden;height:440px;width:700px;'>
		<div id='gmap_canvas' style='height:440px;width:700px;'></div>
		<div><small><a href="http://embedgooglemaps.com">									embed google maps							</a></small></div><div><small><a href="http://www.autohuren.world/">auto huren</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:10,center:new google.maps.LatLng(42.3061398,-83.6549493),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(42.3061398,-83.6549493)});infowindow = new google.maps.InfoWindow({content:'<strong>Humane Society of the Huron Valley</strong><br>3100 Cherry Hill Rd, Ann Arbor, MI 48105<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
	</div>
</div>

{%endblock%}